@model Mbulesa
<form method="post">
    <div class="row p-4 mt-4">
        <div class="border">
            <div class="row">
                <h5>Fshi mbulesen</h5>
            </div>
            <input type="hidden" asp-for="Id"/>
            <div class="mb-2">
                <label asp-for="Emri"></label>
                <input disabled="" asp-for="Emri" class="form-control"/>
   
            </div>
            <input type="submit" class="btn btn-primary" value="Fshi" />
            <a asp-controller="Mbulesa" asp-action="Listo" class="btn btn-secondary">Kthehu</a>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
